@charset "UTF-8";

/* mediaクエリはじめ */
@media screen and (min-width:780px) {

#wrap{
	margin: 0 auto;
	width:960px;
}

atticle,aside,details,figcaption,figure,header,hgroup,menu,nav,section{
	display:block;
}

body {
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	color:#630;
	line-height:25px;
	font-size:0.95em;
}

#menu{
	margin:0px;
	padding:0px;
}

#menu li{
	float:left;
	list-style-type:none;
}

#mainimg{
	width:960px;
	height:350px;
	float:left;
	margin: 10px 0 15px 0;
}

#mainimg img{
	width:960px;
	height:350px;
}

#contents{
	width:615px;
	float:left;
}

#newsbox{
	width:593px;
	height:auto;
	border:solid 1px #CCC;
	padding:10px;
	margin-bottom:15px;
	background-color:#FFF;
}

#newsbox p{
	border-bottom:dashed 1px #CCC;
}

.midashi{
	border-bottom:dashed 2px #C30;
	font-weight:bold;
	color:#17355A;
	font-size:1.2em;
}

.contentsbox{
	width:593px;
	height:auto;
	border:solid 1px #CCC;
	padding:10px;
	margin-bottom:15px;
	background-color:#FFF;
}

.imgbox{
	width:230px;
	height:167px;
	float:right;
	margin:10px 0 10px 25px;
}

.clear{
	clear:both;
}

h2{
	font-size:0.9em;
	margin:0 0 20px 0;
}

#sidenavi{
	width:330px;
	margin-left:15px;
	float:left;
}

#goannai{
	font-size:1.2em;
	border-bottom:solid 2px #C30;
	margin:0 0 15px 0;
	color:#C30;
}

.sidebox{
	width:220px;
	height:130px;
	margin-bottom:15px;

}

footer{
	clear:both;
	height:50px;
	text-align:center;
	font-size:0.85em;
	background-image:url(images/footer.gif);
	background-repeat:no-repeat;
	padding-top:30px;
	display:block;
}

img{
	border: 0px;
}

a{
	text-decoration: none;
}

a:link{
	color: #630;
}

a:visited{
	color: #630;
}

a:hover{
	color: #630;
	text-decoration: underline;
}

a:active{
	color: #630;
}

.minibox{
	width: 135px;
	height: 135px;
	margin: 0 10px 10px 0;
	float: left;
}

.tablestyle{
	text-align: left;
	width: 593px;
}

.tablestyle td{
	border-bottom:dashed 1px #CCC;
}

.tablestyle th{
	background-color: #630;
	color: #FFF;
	text-align: center;
}

/* トップに戻る初め */
#page_top{
  width: 90px;
  height: 60px;
  position: fixed;
  right: 0;
  bottom: 0;
  opacity: 0.6;
  border: 3px solid #17355A
  border-radius: 15px;
}
#page_top a{
  position: relative;
  display: block;
  width: 90px;
  height: 60px;
  text-decoration: none;
}
#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f062';
  font-size: 25px;
  color: #17355A;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -25px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
#page_top a::after{
  content: 'PAGE TOP';
  font-size: 13px;
  color: #17355A;
  position: absolute;
  top: 38px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}/* トップに戻る終わり */

}/* クエリ終わり */
